.main {

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    /* background: #00d2ff; */
    background: #97ecff;
    min-height: 100vh;
}

.heading {
    margin: 120px;
    color: #3a7bd5;
}

@media only screen and (max-width: 480px) {
    .heading {
        margin: 60px;
    }

}
